@{
    ViewData["Title"] = "Početna - Platforma za događaje";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na aplikaciju za dogadjaje</h1>
    <p>Upravljajte stručnim događajima, lokacijama i predavačima na jednom mestu.</p>

    <div class="mt-4">
        <a asp-controller="Dogadjaj" asp-action="Index" class="btn btn-primary btn-lg">Pogledaj Događaje</a>
        <a asp-controller="Dogadjaj" asp-action="Create" class="btn btn-success btn-lg">Kreiraj Novi</a>
    </div>
</div>